/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

p, li, a, input, select, button {
    font-family: 'Roboto', sans-serif;
}
button {
    border-radius: 100px;
    border-width: 5px;
    letter-spacing: 1px;
    padding-right: 2em;
    padding-left: 0.7em;
    font-weight: bold;
}

button a {
    padding-left: 5px;
}

body {
    margin: 0;
    padding: 0;
}
main a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* ***************************************
        HEADER
****************************************** */
header {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin:  0;
    width: 100%;
}

header a {
    color: #000000;
    text-decoration: none;
}

.logo_plateforme {
    width: 15%;
    height: auto;
}

nav {
    margin: 0;
    width: 100%;
}

.liste_liens {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style-type: none
}

/* ***************************************
        PREMIER BLOC (ACCROCHE)
****************************************** */
.accroche {
    display: flex;
    flex-flow: row wrap;
    background-color: #336699;
    font-size: 40px;
    color: #FFFFFF;
}
.asterisque {
    font-size: 20px;
    color: rgb(155, 155, 155);
}
.info_accueil {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    flex-basis: 35%;
    padding-left: 5%;
    padding-right: 5%;
}

.illu_accueil {
    flex-basis: 50%;
    width: 50%;
    height: auto;
}

.bouton_rouge {
    border-color: #FF2063;
    background-color: #FF2063;
    font-size: 22px;
}

/* ***************************************
        DEUXIEME BLOC (INFORMATIONS)
****************************************** */
.informations {
    background-color: #FEFEFF;
    color: #336699;
    margin-bottom: 3%;
}
.informations h1 {
    text-align: center;
}
.boite {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-left: 5%;
    padding: 0;
}

.trio {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5.5%;
    background-color: transparent;
    box-shadow: 0px 0px 60px 0px rgb(71 74 182 / 12%);
    border-radius: 10px;

}

.logo {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    
}
.coding {
    width: 100%;
}

.ia {
    width: 100%;
    height: auto;
}

.secur {
    width: 100%;
    height: auto;
}

.bouton_jaune {
    border-color: #FFCA4B;
    background-color: #FFCA4B;
    font-size: 16px;
    margin-bottom: 3%;
}

.boite2 {
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    padding: 0;
}

.duo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.texte {
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5.5%;
    margin-bottom: 1%;
    background-color: transparent;
    box-shadow: 0px 0px 60px 0px rgb(71 74 182 / 12%);
    border-radius: 10px;
}
/* ***************************************
        TROISIEME BLOC (TEMOIGNAGES)
****************************************** */
.temoins {
    background-color: #FFA000;
    color: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 3%;
}

.temoignage {
    display: block;
}

.temoignage h2 {
    text-align: center;

}

.temoignage p{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5.5%;
    margin-bottom: 3%;
}

.video {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* ***************************************
        FOOTER
****************************************** */
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #313131;
    color: #F2FFFF;
    padding-top: 2%;
}
footer a {
    color: #F2FFFF;
    text-decoration: none;
}

.logos {
   display: block;
   text-align: center;
   flex-basis: 10%;
}

.reseaux {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
}

.reseaux a {
    margin-right: 8px;

}

.logo_footer {
    width: 100%;
    height: auto;
}

.info_pratique {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: 85%;
}

.liste {
    padding-top: 0;
    font-size: 16px;
}
.liste ul{
    list-style-type: none;
    padding: 0;
}

.bouton_noir {
    border-color: #FFFFFF;
    background-color: #2F2F2F;
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 1px;
    border-width: 2px;
}

/* ***************************************
******************************************
        Page CONTACTS
******************************************
****************************************** */


/* ***************************************
        Formulaire */


.bleu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88C1D0;
    padding-top: 0.5%;
    width: 100%;
    margin: auto;

}

.bleu p {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    padding-bottom: 5%;
}

.bloc_formu {
    background-color: #FFFFFF;
    color: #275FA0;
    padding-top: 0.5%;
    width: 80%;
    text-align: center;
}

.formulaire {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
    width: 80%;
    margin: auto;
    /* background-color: #ff0000; */
    overflow: auto;
}

form div > input::placeholder,
 form div > textarea::placeholder,
  form div > select:invalid {
    color: #275FA0;
    }

form div > input, form div > select, form div > textarea {
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(71,74,182,0.12);
    border-radius: 5px;
    font-size: 18px;
}
        

form button {
    background-color: #275FA0;
    color: #FFFFFF;
    font-size: 20px;
    border-width: 1px;
}

.box {
    flex-basis: 48%;
    /* padding: 5px; */
    margin: 5px;
    box-sizing: content-box;
    width: 100%;
}

.middle {
    flex-basis: 96%;
    box-sizing: content-box;
    width: 100%;
}

#entretien {
    box-sizing: content-box;
    width: 100%;
}

#adresse {
    box-sizing: content-box;
    width: 100%;
}

.BasDeForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}
/* ***************************************
        Autres CONTACTS
****************************************** */

.blanche {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FEFEFF;
    color: #275FA0
}
.question p, .question li{
    font-size: 18px;
}

.blanche a{
    color: #2BABEF
}
#brochure {
    color: #275FA0;
}

.contact_li {
    list-style-type: none;
}
.li::before{
    content: '-  '
}


.logo_q {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    width: 10%;
}
.logo_q img{
    width: 80%;
    height: auto;
}



/* ***************************************
******************************************
        Page NEWS
******************************************
****************************************** */

/* Section bleue */

.actu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #275FA0;
}
.actu h1 {
    color: #FFFFFF
}

.actu p {
    color: #D4CCFF
}

.actu div {
    flex-basis: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#video_news {
    width: 50%;
    height: auto;
}

/* Section news */

.FAL {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}
.FAL a {
    text-decoration: none;
    color: #333333;
}

article {
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #275FA0;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #F2F2F2;
}
article a img {
    width: 100%;
    height: auto;
}


/* ***************************************
******************************************
        Page Qui sommes-nous ?
******************************************
****************************************** */

/* Section qui sommes-nous ? */

#qui_sommes_nous {
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
}

#qui_sommes_nous div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #927F7D;
}

#qui_sommes_nous div p {
    flex-basis: 45%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: justify;
}

/* Section des partenaires */

#partenaires {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Section des certifications */

#certifs {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #F6F6F6;
}

.certification {
    width: 80%;
    margin: auto;
}

#bloc_certifs {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

#bloc_certifs div {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 20%;
}

/*  Section des presentation */
#presentation_videos {
    background-color: #FFFFFF;
}

.pres_vid {
    width: 80%;
    margin: auto;
    padding-top: 0.5%;
    padding-bottom: 2%;
}

#video_pres {
    display: flex;
    flex-flow: row wrap;
}

#video_pres div {
    flex-basis: 30%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#video_pres div iframe {
    width: 100%;
    height: auto;
}

#video_pres div h4 {
    color: #336699;
}